.gwd-div-1tnt {
    width: 100%;
    height: 70px;
    position: relative;
  }
  .gwd-label-1xit {
    display: block;
    position: absolute;
    width: 100px;
    border-style: none;
    font-family: "Arial Black";
    font-weight: bold;
    font-size: 25px;
    overflow: hidden;
    text-align: center;
    height: 40px;
    top: 15px;
    left: 13px;
  }
  .gwd-input-116q {
    position: absolute;
    width: 600px;
    height: 20px;
    left: 0px;
    top: 0px;
  }
  .gwd-button-rvij {
    height: 26px;
    width: 100px;
    top: 0px;
    left: 608.1px;
    position: absolute;
  }
  .gwd-button-rr5j {
    position: absolute;
    height: 24px;
    width: 100px;
    top: 26px;
    left: 993px;
  }
  .gwd-button-iigw {
    left: 54%;
    top: 0px;
  }
  .gwd-button-1d0r {
    top: 0px;
    left: 27%;
  }
  .gwd-button-1234 {
    top: 0px;
    left: 0%;
  }
  .gwd-div-1im0 {
    height: 26px;
    width: 708px;
    top: 22px;
    position: relative;
    margin-right: auto;
    margin-left: auto;
  }
  .gwd-div-1b0h {
    height: 24px;
    margin-left: auto;
    margin-right: 10px;
    width: 400px;
    position: relative;
    top: 0px;
  }